spring:
  profiles:
    active: prod
  servlet:
    multipart:
      max-file-size: 50MB
  application:
    name: ModernHygienFneBackend
springdoc:
  default-produces-media-type: application/json
server:
  servlet:
    context-path: /api/v1/
